<div class="container mt-5">
  <div class="card mx-auto" style="max-width: 600px;">
    <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
      <h3 class="mb-0">{{produto.nome}}</h3>
      <div>
        <a href="/produtos/{{produto.id}}/editar" class="btn btn-sm btn-warning me-2" title="Editar">
          <i class="bi bi-pencil"></i>
        </a>

        <button class="btn btn-danger btn-sm" onclick="confirmarApagar('/produtos/{{produto.id}}/remover')">
  <i class="bi bi-trash"></i>
</button>

      </div>
    </div>

    <div class="card-body">
      <a href="/produtos/categoria/{{produto.categoria_id}}" class="text-decoration-none">
        <h5 class="card-title text-muted">Categoria: {{produto.categoria_nome}}</h5>
      </a>

      <p class="card-text"><strong>Descrição:</strong> {{produto.descricao}}</p>

      <p class="card-text">
        <strong>Preço:</strong> R$ {{produto.preco}} <br>
        <strong>Estoque:</strong> {{produto.estoque}} unidades
      </p>

      <a href="/" class="btn btn-secondary">← Voltar</a>
    </div>

    <div class="card-footer text-muted text-end">
      E-Commerce PC!
    </div>
  </div>
</div>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div id="toastConfirmarDelete" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header bg-warning text-dark">
      <i class="bi bi-exclamation-triangle-fill me-2"></i>
      <strong class="me-auto">Confirmação</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Fechar"></button>
    </div>
    <div class="toast-body">
      Tem certeza que deseja apagar este item?
      <div class="mt-2 pt-2 border-top d-flex justify-content-end gap-2">
        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="toast">Cancelar</button>
        <form id="formDelete" method="POST">
          <button type="submit" class="btn btn-sm btn-danger">Apagar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  function confirmarApagar(url) {
    const form = document.getElementById('formDelete');
    form.action = url;

    const toastEl = document.getElementById('toastConfirmarDelete');
    const toast = new bootstrap.Toast(toastEl);
    toast.show();
  }
</script>